<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>


<%= content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    console.log(<%= raw @flat_coordinates.to_json %>)
    // alert('Bienvenue <%= @flat.name.downcase %>')
  });
</script>
<% end %>